#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a  {
  color: #000;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #d5ab07;
}

.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover, .twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-loadmore:hover,
.btn-submit,
#footer,
.caption .btn-start:hover,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
  background-color:#11749e;
}

a{
  color: #11749e;
}

a:hover, a:focus {
	color: #2f9ac7;
}

.main-nav{
  background-color:#11749e;
}

.product-of{
    background-color: #00adbc;
}

#about-us{
  background-color: #00adbc;
}

#txt-judul-about-us{
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 5%;
}

.icon{
  text-align: center;
}

.icon-heading{
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.icon-desc{
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.judulBesar{
  font-size: 2em;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover  {
	border: 1px solid #11749e;
}

.caption .btn-start:hover,
.left-control:hover,
.right-control:hover {
	border-color: #f7ca18;
}

.twitter-icon .fa-twitter:after {
	border-color: #f7ca18 transparent transparent;
}
